/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    background-color: #DDF4E7;
    height: 100vh;
}

/* CENTER CONTAINER */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD */
.card {
    width: 90%;
    max-width: 25rem;
    background: white;
    padding: 8%;
    border-radius: 1rem;
    box-shadow: 0 0.8rem 2rem rgba(0,0,0,0.08);
    text-align: center;
}


/* TITLE */
h2 {
    margin-bottom: 8%;
    color: #124170;
}

/* INPUTS */
input {
    width: 100%;
    padding: 4%;
    margin-bottom: 5%;
    border: 0.1rem solid #ccc;
    border-radius: 0.6rem;
    font-size: 1rem;
}

/* FOCUS */
input:focus {
    outline: none;
    border-color: #67C090;
}

/* BUTTON */
button {
    width: 100%;
    padding: 4%;
    background-color: #124170;
    color: white;
    border: none;
    border-radius: 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

/* HOVER */
button:hover {
    background-color: #26667F;
}

/* REGISTER TEXT */
.register-text {
    margin-top: 6%;
    font-size: 0.9rem;
}

/* LINK */
a {
    color: #67C090;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}