.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.card {
    width: 100%;
    max-width: 34rem;
    background: white;
    padding: 3rem 3rem 2.5rem 3rem;
    border-radius: 1.2rem;
    box-shadow: 0 0.8rem 2rem rgba(0,0,0,0.08);
    text-align: center;
}

h2 {
    color: #124170;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 0;
}

input {
    width: 100%;
    padding: 1.25rem;
    margin-bottom: 1.5rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.7rem;
    font-size: 1rem;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #67C090;
}

button {
    width: 100%;
    padding: 1rem;
    background-color: #124170;
    color: white;
    border: none;
    border-radius: 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #26667F;
}

.register-text {
    margin-top: 1.5rem;
    font-size: 0.9rem;
}

a {
    color: #67C090;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 1.25rem;
}

.navbar-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0.625rem 2.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.05);
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
}

.logo img {
    height: 5vh;
    margin-right: 0.5rem;
}

.logo .med {
    color: #124170;
}

.logo .guide {
    color: #67C090;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #124170;
    padding: 0.4em 1em;
    border-radius: 0.6rem;
    transition: 0.3s;
    white-space: nowrap;
}

.nav-links a:hover {
    background-color: #67C090;
    color: white;
}